<ng-container *transloco="let t">
  <form [formGroup]="service.form" class="flex flex-col gap-6">
    <h2 class="text-xl font-semibold">{{ t('cv.ia.title') }}</h2>

    <div tuiCardLarge class="p-4 border border-gray-200 rounded relative flex flex-col gap-4">
      <tui-textfield>
        <label tuiLabel for="iaJobDescriptionInput">
          {{ t('cv.ia.job.name') }}
        </label>
        <textarea
          tuiTextarea
          formControlName="jobDescription"
          [placeholder]="t('cv.ia.job.placeholder')"
          id="iaJobDescriptionInput"
          [min]="8"
          [max]="10"
        ></textarea>
      </tui-textfield>
      <div class="text-sm">
        <p>{{ t('cv.ia.job.description') }}</p>
        <p class="mt-1 font-medium">{{ t('cv.ia.job.highlight') }}</p>
      </div>
    </div>

    <div
      tuiCardLarge
      class="w-full border-gray-200 p-4 border rounded bg-gray-50 flex flex-col gap-2"
    >
      <label tuiLabel for="iaExaggeration" class="block text-sm font-medium">
        {{ t('cv.ia.exaggeration.title') }}
      </label>

      <input
        tuiSlider
        id="iaExaggeration"
        type="range"
        class="w-full"
        [readOnly]="false"
        [segments]="segments()"
        [step]="step"
        [min]="min"
        [max]="max"
        formControlName="exaggeration"
      />

      <div class="flex justify-between mt-1">
        @for (level of exaggerationLevel | keyvalue; track level.key) {
          <button
            type="button"
            (click)="service.setExaggeration(+level.key)"
            class="text-sm cursor-pointer focus:outline-none transition-colors px-1 rounded"
            [class.text-gray-500]="service.currentExaggeration() !== +level.key"
            [class.text-blue-600]="service.currentExaggeration() === +level.key"
            [class.font-bold]="service.currentExaggeration() === +level.key"
            [class.hover:text-blue-700]="service.currentExaggeration() !== +level.key"
          >
            {{ level.value | transloco }}
          </button>
        }
      </div>

      <div class="text-center text-s mt-2 text-balance min-h-[2.5rem]">
        {{
          service.currentExaggeration() | exaggerationLevel: exaggerationDescriptions | transloco
        }}
      </div>
    </div>

    <label tuiLabel class="flex items-center gap-2 mt-4">
      <input tuiCheckbox type="checkbox" formControlName="makeEnglish" />
      Traducir CV a Inglés (Experimental)
    </label>

    <button
      tuiButton
      type="button"
      size="l"
      appearance="primary"
      (click)="service.optimizeCv()"
      [loading]="service.isLoading()"
      [disabled]="service.form.invalid"
      class="w-full sm:w-auto self-start"
    >
      {{ t('cv.ia.exaggeration.button') }}
    </button>
  </form>
</ng-container>
