<ng-container *transloco="let t">
  <fieldset class="contents">
    <div class="flex justify-between items-center mb-3">
      <h2 class="text-xl font-semibold">{{ t('home.experience.title') }}</h2>
      <button tuiButton tuiRipple iconStart="@tui.plus" type="button" size="s" (click)="add.emit()">
        {{ t('home.experience.add') }}
      </button>
    </div>

    @for (group of experienceForms().controls; track $index; let i = $index) {
      <div
        tuiCardLarge
        [formGroup]="group"
        class="p-4 border-gray-200 border rounded relative flex flex-col gap-4 mb-4"
      >
        <div class="flex flex-row-reverse">
          <button
            tuiButton
            type="button"
            appearance="action-destructive"
            size="s"
            tuiRipple
            iconStart="@tui.trash"
            (click)="remove.emit(i)"
          >
            <span class="sr-only">Eliminar Experiencia</span>
          </button>
        </div>

        <tui-textfield>
          <label tuiLabel [for]="'experienceRoleInput'">{{ t('home.experience.job.name') }}</label>
          <input
            tuiTextfield
            [id]="'experienceRoleInput'"
            [placeholder]="t('home.experience.job.placeholder')"
            formControlName="role"
          />
        </tui-textfield>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <tui-textfield>
            <label tuiLabel [for]="'experienceCompanyInput'">{{
              t('home.experience.company.name')
            }}</label>
            <input
              tuiTextfield
              [id]="'experienceCompanyInput'"
              formControlName="company"
              [placeholder]="t('home.experience.company.placeholder')"
            />
          </tui-textfield>
          <div class="flex flex-row">
            <tui-textfield class="w-full">
              <label tuiLabel [for]="'experienceDateInInput'">{{
                t('home.experience.dateIn.name')
              }}</label>
              <input
                tuiTextfield
                [id]="'experienceDateInInput'"
                formControlName="dateIn"
                [placeholder]="t('home.experience.dateIn.placeholder')"
              />
            </tui-textfield>
            <tui-textfield class="w-full">
              <label tuiLabel [for]="'experienceDateFinInput'">{{
                t('home.experience.dateFin.name')
              }}</label>
              <input
                tuiTextfield
                [id]="'experienceDateFinInput'"
                formControlName="dateFin"
                [placeholder]="t('home.experience.dateFin.placeholder')"
              />
            </tui-textfield>
          </div>
        </div>
        <tui-textfield>
          <label tuiLabel [for]="'experienceBulletsInput'">
            {{ t('home.experience.achievements.name') }}
          </label>
          <textarea
            tuiTextarea
            [placeholder]="t('home.experience.achievements.placeholder')"
            formControlName="bullets"
            [id]="'experienceBulletsInput'"
            [min]="8"
            [max]="10"
          ></textarea>
        </tui-textfield>
      </div>
    }
  </fieldset>
</ng-container>
