legacy-peer-deps=true


npm install @ng-web-apis/common@4.14.0 \
            @ng-web-apis/intersection-observer@4.14.0 \
            @ng-web-apis/mutation-observer@4.14.0 \
            @ng-web-apis/platform@4.14.0 \
            @ng-web-apis/resize-observer@4.14.0 \
            @ng-web-apis/screen-orientation@4.14.0
