<ng-container *transloco="let t">
  <header class="sticky top-0 left-0 z-50 w-full">
    <tui-app-bar [tuiCell]="'m'" class="mx-auto max-w-7xl px-4 py-3">
      @if (!darkMode()) {
        <img
          tuiSlot="left"
          [ngSrc]="'/assets/logo-white-theme.png'"
          alt="SmartCv-logo"
          [routerLink]="['/']"
          width="1024"
          height="1024"
          priority
          class="h-10 w-auto cursor-pointer"
        />
      } @else {
        <img
          tuiSlot="left"
          [ngSrc]="'/assets/logo-dark-theme.png'"
          alt="SmartCv-logo"
          [routerLink]="['/']"
          width="1024"
          height="1024"
          priority
          class="h-10 w-auto cursor-pointer"
        />
      }

      <tui-tabs class="!hidden md:!flex mx-auto">
        <a tuiTab [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive>
          <span class="text-sm font-medium">{{ t('nav.resume') }}</span>
        </a>
        <a
          tuiTab
          [routerLink]="['/configuracion']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive
        >
          <span class="text-sm font-medium">{{ t('nav.config') }}</span>
        </a>
      </tui-tabs>

      <div tuiSlot="right" class="flex items-center gap-4">
        <a
          tuiIconButton
          appearance="outline-grayscale"
          href="https://github.com/MartinFLR/smartcv"
          target="_blank"
          rel="noopener noreferrer"
          class="rounded-lg md:hidden"
          [iconStart]="'https://raw.githubusercontent.com/MarsiBarsi/readme-icons/main/github.svg'"
          >Github</a
        >
        <div>
          <button
            appearance="outline-grayscale"
            size="s"
            tuiButtonSelect
            tuiIconButton
            type="button"
            [formControl]="languageControl"
            ngDefaultControl
            [iconStart]="icons.languages"
            class="!w-10"
          >
            Language
            <tui-data-list *tuiTextfieldDropdown>
              <tui-opt-group [label]="t('languages.title')">
                @for (name of names; track $index) {
                  <button
                    new
                    tuiOption
                    type="button"
                    [value]="name"
                    (click)="setLang(name)"
                    class="justify-start gap-2"
                  >
                    <img
                      alt=""
                      class="w-7 h-7 rounded-full mr-2 ring-1 ring-inset ring-[var(--tui-border-normal)]"
                      [src]="flags.get(name) | tuiFlag"
                    />
                    {{ 'languages.' + name | transloco }}
                  </button>
                }
              </tui-opt-group>
            </tui-data-list>
          </button>
          <img
            alt=""
            tuiSlot="bottom"
            [src]="flags.get(languageControl.value) || flags.get(switcher.language) | tuiFlag"
            class="absolute ml-4 -mt-3 w-4 h-4 rounded-full backdrop-blur-sm bg-black/20 ring-1 ring-white/10"
          />
        </div>

        <input
          size="s"
          tuiLike
          type="checkbox"
          [checked]="darkMode()"
          (click)="darkMode.set(!darkMode())"
        />

        <div class="md:hidden">
          <button
            tuiIconButton
            appearance="outline-grayscale"
            iconStart="@tui.menu"
            (click)="menuOpen.set(true)"
          >
            <span class="sr-only"> Menu</span>
          </button>
        </div>
      </div>
    </tui-app-bar>
  </header>

  <tui-drawer *tuiPopup="menuOpen()" [direction]="'left'" (close)="menuOpen.set(false)">
    <div tuiHeader class="border-b border-solid border-tui-border-faded">
      <span tuiTitle>Menú</span>
      <button
        tuiButtonClose
        tuiIconButton
        type="button"
        tuiSlot="right"
        (click)="menuOpen.set(false)"
      >
        <span class="sr-only"> Menu</span>
      </button>
    </div>

    <nav class="flex flex-col gap-5 p-5">
      <a
        routerLink="/"
        [routerLinkActive]="'text-blue-500 font-semibold'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-lg font-medium no-underline transition-colors duration-200 hover:text-blue-600"
        (click)="menuOpen.set(false)"
      >
        {{ t('nav.resume') }}
      </a>
      <a
        routerLink="/configuracion"
        [routerLinkActive]="'text-blue-500 font-semibold'"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-lg font-medium no-underline transition-colors duration-200 hover:text-blue-600"
        (click)="menuOpen.set(false)"
      >
        {{ t('nav.config') }}
      </a>
    </nav>
  </tui-drawer>
</ng-container>
