<fieldset formArrayName="skills" class="contents">
  <div class="flex justify-between items-center mb-3">
    <h2 class="text-xl font-semibold">Habilidades & Certificaciones</h2>
    @if (skillsForms().controls.length === 0) {
      <button tuiButton tuiRipple type="button" size="s" (click)="addSkillGroup.emit()">
        <tui-icon icon="@tui.plus" class="mr-2"></tui-icon>
        Agregar Grupo
      </button>
    }
  </div>

  @for (skillGroup of skillsForms().controls; track $index; let i = $index) {
    <div [formGroupName]="i" class="p-4 rounded relative flex flex-col gap-4">
      @if (skillsForms().controls.length > 1) {
        <div class="flex flex-row-reverse">
          <button
            tuiIconButton
            type="button"
            appearance="action-destructive"
            size="s"
            tuiRipple
            iconStart="@tui.trash"
            (click)="removeSkillGroup.emit(i)"
          >
            <span class="sr-only">Eliminar habilidad</span>
          </button>
        </div>
      }

      <tui-textfield multi>
        <label tuiLabel [for]="'skillsSkills'"
          >Habilidades Técnicas / Hard Skills (separadas por coma)</label
        >
        <input
          placeholder="Angular, React, Node.js..."
          [id]="'skillsSkills'"
          formControlName="skills"
          tuiInputChip
        />
        <tui-input-chip *tuiItem />
      </tui-textfield>

      <tui-textfield multi>
        <label tuiLabel [for]="'skillsLanguages'">Idiomas</label>
        <input
          placeholder="Español, Inglés C1, Francés..."
          [id]="'skillsLanguages'"
          formControlName="languages"
          tuiInputChip
        />
        <tui-input-chip *tuiItem />
      </tui-textfield>

      <h3 class="text-lg font-medium mt-2">Certificaciones</h3>
      <fieldset formArrayName="certifications" class="flex flex-col gap-2">
        @if (getCertificationControls(skillGroup).length === 0) {
          <p class="text-sm">Agregá certificaciones aquí.</p>
        }
        @for (
          certGroup of getCertificationControls(skillGroup);
          track $index;
          let certIndex = $index
        ) {
          <div
            tuiCardLarge
            [formGroupName]="certIndex"
            class="grid grid-cols-1 sm:grid-cols-12 gap-2 items-end"
          >
            <tui-textfield class="sm:col-span-6">
              <label tuiLabel [for]="'skillsCertificationName'"> Nombre Certificado</label>
              <input tuiTextfield [id]="'skillsCertificationName'" formControlName="name" />
            </tui-textfield>
            <tui-textfield class="sm:col-span-4">
              <label tuiLabel [for]="'skillsCertificationDate'"> Fecha Obtención</label>
              <input
                tuiTextfield
                [id]="'skillsCertificationDate'"
                formControlName="date"
                placeholder="Ej: 2024"
              />
            </tui-textfield>
            <button
              tuiButton
              type="button"
              appearance="action-destructive"
              size="s"
              tuiRipple
              iconStart="@tui.trash"
              (click)="removeCert.emit({ skillGroupIndex: i, certIndex: certIndex })"
              class="sm:col-span-2"
            >
              <span class="sr-only">Eliminar Certificado</span>
            </button>
          </div>
        }
        <button
          tuiButton
          tuiRipple
          type="button"
          appearance="outline"
          size="s"
          iconStart="@tui.plus"
          (click)="addCert.emit(i)"
          class="mt-2 self-start"
        >
          Agregar Certificación
        </button>
      </fieldset>

      <tui-textfield multi>
        <label tuiLabel [for]="'skillsAdditional'">
          Habilidades Adicionales / Otros (Ej: Herramientas, Metodologías)</label
        >
        <input
          placeholder="Scrum, Kanban, Docker, AWS..."
          [id]="'skillsAdditional'"
          formControlName="additional"
          tuiInputChip
        />
        <tui-input-chip *tuiItem />
      </tui-textfield>
    </div>
  }
</fieldset>
