<ng-container *transloco="let t">
  <fieldset class="contents">
    <div class="flex justify-between items-center mb-3">
      <h2 class="text-xl font-semibold">{{ t('home.skills.title') }}</h2>
    </div>

    @for (skillGroup of skillsForms().controls; track $index; let i = $index) {
      <div [formGroup]="skillGroup" class="p-4 rounded relative flex flex-col gap-4">
        <tui-textfield multi>
          <label tuiLabel [for]="'skillsSkills'">{{ t('home.skills.skill.name') }}</label>
          <input
            [placeholder]="t('home.skills.skill.placeholder')"
            [id]="'skillsSkills'"
            formControlName="skills"
            tuiInputChip
          />
          <tui-input-chip *tuiItem />
        </tui-textfield>

        <tui-textfield multi>
          <label tuiLabel [for]="'skillsLanguages'">{{ t('home.skills.language.name') }}</label>
          <input
            [placeholder]="t('home.skills.language.placeholder')"
            [id]="'skillsLanguages'"
            formControlName="languages"
            tuiInputChip
          />
          <tui-input-chip *tuiItem />
        </tui-textfield>

        <h3 class="text-lg font-medium mt-2">{{ t('home.skills.certifications.title') }}</h3>
        <fieldset formArrayName="certifications" class="flex flex-col gap-2">
          @if (getCertificationControls(skillGroup).length === 0) {
            <p class="text-sm">{{ t('home.skills.certifications.subtitle') }}</p>
          }
          @for (
            certGroup of getCertificationControls(skillGroup);
            track $index;
            let certIndex = $index
          ) {
            <div
              tuiCardLarge
              [formGroup]="certGroup"
              class="grid grid-cols-1 sm:grid-cols-12 gap-2 items-end"
            >
              <tui-textfield class="sm:col-span-6">
                <label tuiLabel [for]="'skillsCertificationName'">
                  {{ t('home.skills.certifications.certification.name.name') }}
                </label>
                <input
                  tuiTextfield
                  [id]="'skillsCertificationName'"
                  [placeholder]="t('home.skills.certifications.certification.name.placeholder')"
                  formControlName="name"
                />
              </tui-textfield>
              <tui-textfield class="sm:col-span-4">
                <label tuiLabel [for]="'skillsCertificationDate'">
                  {{ t('home.skills.certifications.certification.date.name') }}
                </label>
                <input
                  tuiTextfield
                  [id]="'skillsCertificationDate'"
                  [placeholder]="t('home.skills.certifications.certification.date.placeholder')"
                  formControlName="date"
                />
              </tui-textfield>
              <button
                tuiButton
                type="button"
                appearance="action-destructive"
                size="s"
                tuiRipple
                iconStart="@tui.trash"
                (click)="removeCert.emit({ skillGroupIndex: i, certIndex: certIndex })"
                class="sm:col-span-2"
              >
                <span class="sr-only">Eliminar Certificado</span>
              </button>
            </div>
          }
          <button
            tuiButton
            tuiRipple
            type="button"
            appearance="outline"
            size="s"
            iconStart="@tui.plus"
            (click)="addCert.emit(i)"
            class="mt-2 self-start"
          >
            {{ t('home.skills.certifications.button') }}
          </button>
        </fieldset>

        <tui-textfield multi>
          <label tuiLabel [for]="'skillsAdditional'">
            {{ t('home.skills.additional.name') }}
          </label>
          <input
            [placeholder]="t('home.skills.additional.placeholder')"
            [id]="'skillsAdditional'"
            formControlName="additional"
            tuiInputChip
          />
          <tui-input-chip *tuiItem />
        </tui-textfield>
      </div>
    }
  </fieldset>
</ng-container>
