<ng-container *transloco="let t">
  <fieldset [formGroup]="service.form" class="flex flex-col gap-6">
    <header class="flex flex-col gap-1 border-b border-[var(--tui-border-normal)] pb-4 -mt-4">
      <h2
        class="text-xl md:text-2xl font-bold text-[var(--tui-text-primary)] flex items-center gap-2"
      >
        <tui-icon icon="@tui.notepad-text" class="text-[var(--tui-text-action)] size-6"></tui-icon>
        {{ t('cv.coverLetter.title') }}
      </h2>
      <p class="text-[var(--tui-text-secondary)] text-base leading-snug">
        {{ t('cv.coverLetter.subtitle') }}
      </p>
    </header>

    <h3 class="text-sm font-semibold">{{ t('cv.coverLetter.optional.title') }}</h3>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      @if (service.isInternalReference()) {
        <tui-textfield>
          <label tuiLabel for="referralNameInput">{{
            t('cv.coverLetter.optional.referral.name')
          }}</label>
          <input
            tuiTextfield
            formControlName="referralName"
            [placeholder]="t('cv.coverLetter.optional.referral.placeholder')"
            id="referralNameInput"
          />
        </tui-textfield>
      }

      <tui-textfield>
        <label tuiLabel for="recruiterNameInput">{{
          t('cv.coverLetter.optional.recruiter.name')
        }}</label>
        <input
          tuiTextfield
          [state]="service.isApplicationForm() ? 'active' : null"
          formControlName="recruiterName"
          [placeholder]="t('cv.coverLetter.optional.recruiter.placeholder')"
          id="recruiterNameInput"
        />
      </tui-textfield>

      <tui-textfield>
        <label tuiLabel for="companyNameInput">{{
          t('cv.coverLetter.optional.company.name')
        }}</label>
        <input
          tuiTextfield
          formControlName="companyName"
          [placeholder]="t('cv.coverLetter.optional.company.placeholder')"
          id="companyNameInput"
        />
      </tui-textfield>
    </div>

    <fieldset class="flex flex-col gap-2 py-2">
      <div tuiLabel class="text-sm font-medium">{{ t('cv.coverLetter.tone.title') }}</div>
      <div tuiItemGroup class="flex flex-wrap gap-2">
        @for (tone of tones; track tone.value; let i = $index) {
          <label
            tuiChip
            [iconStart]="tone.icon"
            [for]="'toneInput' + i"
            class="cursor-pointer"
            [appearance]="tone.value === service.form.controls.tone.value ? 'primary' : 'neutral'"
          >
            <input
              type="radio"
              formControlName="tone"
              tuiChip
              appearance=""
              [value]="tone.value"
              [id]="'toneInput' + i"
              class="sr-only"
            />
            {{ tone.name | transloco }}
          </label>
        }
      </div>
    </fieldset>

    <fieldset class="flex flex-col gap-2 py-2">
      <div tuiLabel class="text-sm font-medium">
        {{ t('cv.coverLetter.deliveryChannel.title') }}
      </div>
      <div tuiItemGroup class="flex flex-wrap gap-2">
        @for (channel of channelDeliverys; track $index; let i = $index) {
          <label
            tuiChip
            [iconStart]="channel.icon"
            [for]="'channelInput' + i"
            class="cursor-pointer"
            [appearance]="
              channel.value === service.form.controls.deliveryChannel.value ? 'primary' : 'neutral'
            "
          >
            <input
              type="radio"
              formControlName="deliveryChannel"
              tuiChip
              appearance=""
              [value]="channel.value"
              class="sr-only"
              [id]="'channelInput' + i"
            />
            {{ channel.name | transloco }}
          </label>
        }
      </div>
    </fieldset>
  </fieldset>

  <div [formGroup]="service.iaForm" class="flex flex-col gap-6 mt-6">
    <div class="w-full">
      <tui-textfield tuiTextfieldSize="l" class="w-full" [tuiTextfieldCleaner]="true">
        <label tuiLabel for="iaJobDescriptionInput">
          {{ t('cv.ia.job.name') }}
        </label>
        <textarea
          tuiTextarea
          formControlName="jobDescription"
          [min]="8"
          [max]="10"
          [placeholder]="t('cv.ia.job.placeholder')"
          id="iaJobDescriptionInput"
          class="text-base leading-relaxed"
        ></textarea>
      </tui-textfield>

      <button
        tuiButton
        type="button"
        class="w-full mt-6 sm:w-auto"
        [loading]="service.isLoading()"
        [disabled]="service.iaForm.invalid"
        (click)="service.generate()"
      >
        {{ t('cv.coverLetter.button') }}
        <tui-icon icon="@tui.wand-2" class="ml-2"></tui-icon>
      </button>
    </div>

    <div class="mt-8 flex flex-col gap-4">
      <h3 class="text-lg font-semibold">{{ t('cv.coverLetter.generated') }}</h3>

      <tui-textfield>
        <textarea
          tuiTextarea
          [min]="15"
          [max]="25"
          [value]="service.generatedLetter()"
          readonly
        ></textarea>
        <tui-icon icon="@tui.copy" tuiCopy [tuiCopy]="service.generatedLetter()" />
      </tui-textfield>
    </div>
  </div>
</ng-container>
