@if (cvPreview(); as cv) {
  @switch (template()) {
    @case ('creative') {
      <app-creative-template
        [cvPreview]="cv"
        tuiTheme="light"
        [hasExperience]="hasExperience()"
        [hasEducation]="hasEducation()"
        [hasSkills]="hasSkills()"
        [hasProjects]="hasProjects()"
      >
      </app-creative-template>
    }
    @default {
      <app-harvard-template
        [cvPreview]="cv"
        tuiTheme="light"
        [hasExperience]="hasExperience()"
        [hasEducation]="hasEducation()"
        [hasSkills]="hasSkills()"
        [hasProjects]="hasProjects()"
      >
      </app-harvard-template>
    }
  }
}
