name: Build

on:
  pull_request:
  push:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NX_SKIP_NX_CACHE: true

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Clean Nx cache
        run: rm -rf .nx/cache

      - name: Install dependencies
        run: npm ci

      - name: Build all projects
        run: npx nx run-many --target=build --all
