name: Build

on:
  pull_request:
  push:
    branches: [ main, master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build frontend
        run: npx nx build apps/frontend --skip-nx-cache

      - name: Build backend
        run: npx nx build apps/backend --skip-nx-cache
