name: Lint Commit Messages

on:
  pull_request:
    branches: [master, develop]
  push:
    branches: [master, develop]

permissions:
  contents: read
  pull-requests: read

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          check-latest: false


      - name: Install dependencies
        run: npm ci

      - name: Run Commitlint
        uses: wagoid/commitlint-github-action@v6
        with:
          failOnWarnings: true
          failOnErrors: true
