name: Lint

on:
  pull_request:
  push:
    branches: [ master, develop ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Clean possible leftovers
        run: |
          rm -rf node_modules
          rm -rf .angular/cache || true
          rm -rf .nx/cache || true

      - name: Install dependencies
        run: npm ci

      - name: Run lint (frontend + backend)
        run: npx nx run-many --target=lint --all

