name: lint

on:
  pull_request:
  push:
    branches: [ master, develop ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          check-latest: false


      - name: Install dependencies
        run: npm ci

      - name: Run lint (frontend + backend)
        run: npx nx run-many --target=lint --all

