name: Lint

on:
  pull_request:
  push:
    branches: [ master, develop ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Restore Nx cache
        uses: actions/cache@v4
        with:
          path: .nx/cache
          key: ${{ runner.os }}-nx-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nx-

      - name: Clean possible leftovers
        run: |
          rm -rf node_modules
          rm -rf .angular/cache || true

      - name: Install dependencies
        run: npm ci

      - name: Run lint (frontend + backend)
        run: npx nx run-many --target=lint --all

      - name: Save Nx cache
        uses: actions/cache@v4
        with:
          path: .nx/cache
          key: ${{ runner.os }}-nx-${{ hashFiles('**/package-lock.json') }}
